<header>
    <h1 class="header ui">QR-Generator <i class="icon-wdj-logo"></i> <span>Wandou Labs</span></h1>
    <a class="githubLink" href="https://github.com/wandoulabs/QR-Generator" target="_blank">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
    </a>
</header>

<article>
    <form method="POST" action="/generator" class="ui large form">
        <div class="field">
            <label>Content</label>
            <input type="text" name="content" required="required" placeholder="Text or URL">
        </div>

        <div class="three fields">
            <div class="field">
                <label>Size (optional)</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="size" value="100">
                    <div class="default text">100x100</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item active" data-value="100">100x100</div>
                        <div class="item" data-value="200">200x200</div>
                        <div class="item" data-value="300">300x300</div>
                        <div class="item" data-value="400">400x400</div>
                        <div class="item" data-value="500">500x500</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>margin (optional)</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="margin" value="2">
                    <div class="default text">4</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="1">1</div>
                        <div class="item active" data-value="2">2</div>
                        <div class="item" data-value="3">3</div>
                        <div class="item" data-value="4">4</div>
                        <div class="item" data-value="5">5</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Error correction level (optional) </label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="level" value="M">
                    <div class="default text">Medium</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="L">Low</div>
                        <div class="item active" data-value="M">Medium</div>
                        <div class="item" data-value="H">High</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field center">
            <button type="sublime" class="ui button green labeled icon large"><i class="icon magic"></i>Let's Go!</button>
        </div>
    </form>
</article>

<footer>
    Made by Wandou Labs @ 2014
</footer>